:root {
  --correct: #538D4E;
  --misplaced: #B59F3B;
  --incorrect: #3A3A3C;
}

.light-mode {
  --correct: #00CC66;
  --misplaced: #FFCC00;
  --incorrect: #FF4D4D;
}

.letter {
  width: 60px;
  height: 60px;
  border: 2px solid #3A3A3C;
  text-transform: uppercase;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wordle-grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  column-gap: 8px;
}

#game {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct { background-color: var(--correct); }

.misplaced { background-color: var(--misplaced); }

.incorrect { background-color: var(--incorrect); }
